html{
    width: auto;
    height: auto;
}
body {
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;


}

.header, .footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;

}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;


}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    width: auto;

}

button {
    border: none;
    border-radius: 8px;
    background: : #eee;
    padding: 10px;

}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin-bottom: 16px;

}

a {
    color: #777;
    text-decoration: none;
}